--extra-index-url https://download.pytorch.org/whl/nightly/cu117
torch
torchvision
pytorch_lightning==1.5.10
ray_lightning
torchmetrics==0.9.1
accelerate >= 0.12.0
datasets >= 1.8.0
sentencepiece != 0.1.92
evaluate
scikit-learn
transformers==4.28.1
protobuf<=3.20.1,>=3.8.0

